

address:     https://hostname.com:8028

login:       MY-LOGIN 
password:    my_secret

client_cert: conf/clicert_ru_test.pem
client_key:  conf/clikey_ru_test.pem

# contact for domain registration ("domain:registrant" tag)
registrant:  contact-xxx

# request type ratio, for example:
#   check: 100, create: 0   // all request will be check_domain
#   check: 30,  create: 70  // send 70% check_domain and 30% create_domain
# THE SUMM OF ALL RATIO VALUES SHOULD BE EXACTLY 100%!
req_ratio:
  check:  70
  create: 30


# domains number range for a check request, optional, default = 1, 
# for example: [1], [1, 5], [3, 10]
check_domains:  [3, 10]

ua_name:     test.epp.yabl


